<?xml version='1.0'?>
<launch>
	<node pkg="pose_estimator" type="pose_estimator" name="pose_estimator" clear_params="true" output="screen">
		<!-- Setting this to true will tell the program to use "~image_raw" + "/compressed" instead -->
		<param name="use_compressed" value="true" type="bool"/>

		<!-- Topic remappings to connect to the correct camera -->
		<remap from="~camera_info" to="/processor_node/camera/camera_info"/>
		<remap from="~image_raw" to="/processor_node/image/raw"/>
		<remap from="~image_raw/compressed" to="/processor_node/detection/compressed"/>
		<!--
		<remap from="~debug/image_raw/compressed" to="/debug_compressed"/>
		<remap from="~overlay/image_raw/compressed" to="/overlay_compressed"/>
		-->
	</node>
</launch>
